.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 1.5rem;

  .container-left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .container-right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }
}
